doctype html
html
	head
		title MyWins
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0', charset='UTF-8')
		link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
		//- link(rel='stylesheet', href='mainpage.css', media='screen', title='no title', charset='utf-8')
	body
		block content
