doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(src='https://use.fontawesome.com/e6e5153879.js')
    link(href='https://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/mainpage.css', media='screen', title='no title', charset='utf-8')
    title
  body
    #banner
      header
        a(href='/')
        img#logo(src='/images/mywinslogo@1x.png', alt='mywins')
        a#signin(href='/auth/facebook') sign in
        //- a#signin(href='/:userName') sign in
    #main-image
      .bothlandf
        #left
          p.kick-butt Kick butt.
          p.kick-butt Take names.
          p.kick-butt And keep track of it all.
        div
          #rightside
          #right
            #yellow
              #gameon
                p Game on!
            #question  Don't have an account yet? 
            a(href='/auth/facebook')
              #loginfb
                img#fbook(src='/images/f.png', hspace='20')
                #log
                  p Login with Facebook
    #containquotes
    #quotes
      i.fa.fa-bar-chart
      p  Know your best games
      br
      i.fa.fa-bar-chart
      p Keep track of your wins/losses
      br
      i.fa.fa-bar-chart
      p "5 stars for this site" -Ricky
    footer ©2016 mywins, inc
