*{
  font-family: 'Varela Round', sans-serif;
}
.tab-group {
  margin: 0em auto;
  /*max-width: 40em;*/
  width: 100%;
}
.tab {
  position: relative;
  width: 100%;
}
.tab input[type=radio] {
  margin-left: 1%;
  margin-top: 1%;
  position: absolute;
  z-index: -999;
}
.tab label {
  /* will need to set some kind of identifier so that each tab will be the color corresponding with the sport */
  /*background: #FF2D55;*/
  color: white;
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 3;
  padding-left: 0.5em;
  transition: letter-spacing 0.55s ;
}
label[for=tab1]{
  background: #FF2D55;
}
label[for=tab2]{
  background: #4CD964;
}
label[for=tab3]{
  background: #FFCC00;
}
label[for=tab4]{
  background: #34AADC;
}
label[for=tab5]{
  background: #FF9500;
}
.tab input:focus + label,
.tab label:hover{
  /* darken or lighten the color on hover */
  /*background: #85D8CE ;*/
  /*letter-spacing: 5px;*/
}
.tab-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}
.tab-content .recordsAndStandings {
  margin: 1em 0;
}
.tab input:checked ~ .tab-content {
  max-height: 100.25em;
}
/*.tab > input:not(:focus) ~ .tab-content {
    max-height: 0;
    transition: all .75s cubic-bezier(0.19, 1, 0.22, 1) .15s;
}*/
