*{
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}
body{
  background-color: #e8e8e8;
}
header{
  background-color: white;
  min-height: 3em;
  line-height: 3em;
}
.mywins{
  top: 5;
  margin-left: 5%;
}
.signout{
  margin-left: 80%;
}
.userData{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 10em;
}
.userData img{
  border-radius: 65px;
}
.tab{
  background-color: #e8e8e8;
}
.tab-content{
  display: flex;
  justify-content: center;
}
.recordsAndStandings{
  display: flex;
  justify-content: center;
  width: 100%;
}
.gameRecords{
  background-color: white;
  border-radius: 3px;
  padding: 5px;
  width: 40%;
}
button {
  margin-left: 31%;
  background-color: white;
  border: none;
  color: #34AADC;
  text-align: center;
  font-size: 16px;
}
form{
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}
input{
  padding: 2%;
  border: none;
  border-radius: 3px;
  background-color: #e8e8e8;
}
input[type=number]{
  max-width: 17%;
}
input[type=submit]{
  background-color: #34AADC;
  color: white;
  border: none;
}
.gameRecords table{
  margin-left: 3%;
  margin-top: 1%;
}
.currentStandings{
  background-color: white;
  border-radius: 3px;
  padding: 5px;
  width: 40%;
  margin-left: 5%;
}
.current{
  margin-left: 35%;
}
.currentStandings table{
  margin: 2% 0% 2% 3%;
}
table{
  display: flex;
  justify-content: space-around;
  width: 25em;
}
td{
  /*border: 1px solid black;*/
  padding: 5px 12px;
}
