* {
    box-sizing: border-box;
}
body{
  margin: 0px;
  padding: 0px;
  max-width: 1800px;
}
#main-image{
  background-image: url(/images/add_username_bg.png);
  width:100%;
  height: 755px;
  max-height: 755px;
  max-width: 1800px;
  background-size: contain;
}
#banner{
  width: 100%;
  height: 15%;
  max-width: 1800px;
}
#logo{
  margin: 20px auto 20px 70px;
}
.bothlandf{
  display: flex;
}
#whitebox{
  background-color: white;
  width: 55em;
  height: 35em;
  float: right;
  margin-left: 18em;
  margin-top: 6em;
  border-radius: 8px;
  border-color: purple;
}
#username{
  color: #9B9B9B;
  font-size: 15px;
  padding-left: 2em;
  padding-top: -3em;
  margin-top: -1em;
}
#userpics{
  float: left;
  border-radius: 50%;
  height: 7em;
  width: 7em;
  margin-left: -1em;
  margin-top: -1em;
  /*margin: 0.5em 0 5em 4.5em;*/
}
#userpic2{
  float: left;
  border-radius: 50%;
  height: 7em;
  width: 7em;
  margin: 0.5em 0 5em 4.5em;
}
#submit{
  color: #4CD964;
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  margin-left: 4.5em;
}
#fbname{
  font-family: 'Varela Round', sans-serif;
  margin-top: 4em;
  margin-left: 2em;
}
#fbname2{
  margin-top: 7em;
}
.bottom{
  margin-top: 11em;
}
#moveme{
  margin-left: 8em;
}
#greencircle{
  background-color: #4CD964;
  height: 10em;
  width: 10em;
  border-radius: 50%;
  float: right;
  margin-right: 6em;
  margin-top: -6em;
  color: white;
}
#onehundred{
  font-weight: bold;
  margin: 0.6em 0 5px 11px;
  font-size: 70px;
  text-shadow: 2px 2px 4px #000000;
}
p{
  font-family: 'Varela Round', sans-serif;
}
#submit5{
  font-family: 'Varela Round', sans-serif;
  font-size: 30px;
  color: #9B9B9B;
  margin-left: -2em;
}
#yourrating{
  margin-left: 6em;
  font-size: 16px;
  color: #4A4A4A;
}
.largeprint{
  font-size: 20px;
  font-weight: bold;
  color: #4A4A4A;
  letter-spacing: -0.09px;
}
#smallprint{
  color: #9B9B9B;
  letter-spacing: -0.9px;
  margin-left:5.5em;
  padding: 0;
  margin-top: -1em;
  font-size: 12px;
}
.container {
  height: 100vh;
  width: 100vw;
  font-family: Varela Round;
}
.loader {
  height: 20px;
  width: 250px;
  position: absolute;
  top: 25em;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loader--dot {
  animation-name: loader;
  animation-timing-function: ease-in-out;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  border: 2px solid white;
}
.loader--dot:first-child {
  background-color: #FF2D55;
  animation-delay: 0.5s;
}
.loader--dot:nth-child(2) {
  background-color: #FF9500;
  animation-delay: 0.4s;
}
.loader--dot:nth-child(3) {
  background-color: #C86EDF;
  animation-delay: 0.3s;
}
.loader--dot:nth-child(4) {
  background-color: #FFCC00;
  animation-delay: 0.2s;
}
.loader--dot:nth-child(5) {
  background-color: #34AADC;
  animation-delay: 0.1s;
}
.loader--dot:nth-child(6) {
  background-color: #4CD964;
  animation-delay: 0s;
}
.loader--text {
  position: absolute;
  top: 200%;
  left: 0;
  right: 0;
  width: 4rem;
  margin: auto;
}
.loader--text:after {
  content: "Loading";
  font-weight: bold;
  animation-name: loading-text;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}
@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(230px);
  }
  65% {
    transform: translateX(230px);
  }
  95% {
    transform: translateX(0);
  }
}
@keyframes loading-text {
  0% {
    content: "Loading";
  }
  25% {
    content: "Loading.";
  }
  50% {
    content: "Loading..";
  }
  75% {
    content: "Loading...";
  }
}
footer{
  background: #9b9b9b;
  color: white;
  font-size: .75em;
  position: fixed;
  height: 3em;
  width: 100%;
  bottom: 0px;
  left:0px;
  text-align: center;
  line-height: 3em;
  margin-top: 10%;
  font-family: 'Varela Round', sans-serif;
}
