*{
  font-family: 'Varela Round', sans-serif;
}
@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}
/* For desktop: */
/*.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/
/*
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /*[class*="col-"] {
        width: 100%;
    }
}*/
body{
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-width: 1800px;
  height: 100%;
}
#main-image{
  background-image: url(/images/players_BG@3x.png);
  width:100%;
  height: 27em;
  /*max-height: 100%;*/
  max-width: 1800px;
  background-size: contain;
  margin-top: 5%;
}
#banner{
  width: 100%;
  height: 15%;
  max-width: 1800px;
}
#logo{
  margin: 20px auto 20px 70px;
}
#signin{
  float: right;
  text-decoration: none;
  font-size: 18px;
  color: #4A4A4A;
  letter-spacing: -0.05px;
  margin: 23px 80px 0px auto;
}
.bothlandf{
  display: flex;
  background-size: contain;
}
#left{
  margin-left: 10em;
  margin-top: 5%;
  margin-right: 10em;
  border-color: blue;
}
#right{
  background-size: contain;
  background-color: white;
  width: 35em;
  height: 20em;
  float: right;
  margin-right: 10em;
  margin-top: 8%;
  border-radius: 8px;
  border-color: purple;
}
#yellow{
  background-color: #FFCC00;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: 4em;
}
#gameon{
  color: #FFFFFF;
  margin-left: 12em;
  padding-top: 0.3em;
  font-size: 20px;
}
/* Kick butt: */
.kick-butt{
  font-size: 1.5em;
  color: #FFFFFF;
  letter-spacing: -0.09px;
  margin: 0;
  padding: 0;
}
#question{
  font-size: 30px;
  letter-spacing: -0.09px;
  padding: 10px;
  padding-left: 3em;
  margin-top: 13px;
}
#loginfb{
  width: 20em;
  height: 5em;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #34AADC;
  border-radius: 8px;
  margin: 30px 5px 0px 80px;
  opacity: 1;
  text-decoration: none;
}
#loginfb:hover{
    opacity:0.8;
  }
#fbook{
  width: 35px;
  height: 60px;
  margin-top: 14px;
  margin-left: 2em;
  border-radius: 5%;
  align-content: center;
}
#log{
  float: right;
  margin-right:3em;
  margin-top: 1em;
}
#quotes{
  margin-top: 1em;
  /*margin-bottom: 0.5em;*/
  columns: 3;
  flex-wrap: wrap;
  color: #4A4A4A;
  font-size: 20px;
  padding-left: 7em;
  font-family: 'Varela Round', sans-serif;
}
p{
  font-family: 'Varela Round', sans-serif;
}
i{
  display: flex;
  flex-wrap: wrap;
  font-size: 60px;
  margin-left: 5em;
  font-size: 20px;
}
footer{
  background: #9b9b9b;
  color: white;
  font-size: .75em;
  position: fixed;
  height: 3em;
  width: 100%;
  bottom: 0px;
  left:0px;
  text-align: center;
  line-height: 3em;
  margin-top: 10%;
}
