*{
  font-family: 'Varela Round', sans-serif;
}
body{
  margin: 0px;
  padding: 0px;
  max-width: 1800px;
  width: 100%;
  height: 97%;
  max-height: 100%;
}
#main-image{
  background-image: url(/images/players_BG@3x.png);
  width: 100%;
  height: 40em;
  max-height: 100%;
  /*position: relative;*/
  /*max-width: 1800px;*/
  /*width: 100%;
  height: auto;*/
  background-size: contain;
  background-repeat:no-repeat;
}
#redbackground{
  max-height: 60%;
  width: 100%;
  background-color: #E94760;
}
#banner{
  width: 100%;
  height: 15%;
  max-width: 1800px;
}
#logo{
  margin: 2% auto 1% 5%;
}
#signin{
  float: right;
  text-decoration: none;
  font-size: 18px;
  color: #4A4A4A;
  letter-spacing: -0.05px;
  margin: 2% 5% 2% auto;
}
.bothlandf{
  display: flex;
  background-size: contain;
}
#left{
  margin-left: 10%;
  margin-top: 16%;
  margin-right: 10%;
}
#right{
  background-size: contain;
  position: relative;
  background-color: white;
  max-width: 40%;
  max-height: 20%;
  /*max-height: 300px;*/
  float: right;
  /*margin-right: 10em;
  margin-top: 10em;*/
  margin-right: 5%;
  margin-top: 10%;
  border-radius: 8px;
  border-color: purple;
}
#yellow{
  background-color: #FFCC00;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: 15%;
  position: relative;
}
#gameon{
  color: #FFFFFF;
  margin-left: 40%;
  padding-top: 1%;
  font-size: 20px;
  font-size: 1.8vw;
}
/* Kick butt: */
.kick-butt{
  font-size: 36px;
  font-size: 2.5vw;
  color: #FFFFFF;
  letter-spacing: -0.09px;
  margin: 0;
  padding: 0;
  word-wrap: normal;
}
#question{
  font-size: 30px;
  font-size: 1.5vw;
  letter-spacing: -0.09px;
  padding: 10px;
  padding-left: 4em;
  margin-top: 13px;
}
#loginfb{
  width: 20em;
  height: 5em;
  font-size: 20px;
  font-size: 1.5vw;
  color: #FFFFFF;
  background-color: #34AADC;
  border-radius: 8px;
  margin: 5% .5em 0px 1em;
  opacity: 1;
  text-decoration: none;
  background-size: contain;
}
#loginfb:hover{
    opacity:0.8;
  }
#fbook {
    width: 2em;
    height: 3em;
    margin-top: 2%;
    margin-left: 2em;
    border-radius: 5%;
    align-content: center;
}
#log{
  float: right;
  margin-right:3em;
  margin-top: 7%;
}
#containquotes{
  display: flex;
  width: 2em;
  background-color: #E8E8E8;
  align-content: center;
}
@media only screen and (max-width: 2000px) {
#flex{
  display: flex;
  flex-wrap: wrap;
}
#quotes{
  margin-top: 0.5%;
  max-height: 5%;
  position: relative;
  margin-bottom: 0.5%;
  columns: 3;
  flex-wrap: wrap;
  color: #4A4A4A;
  font-size: 20px;
  font-size: 1.5vw;
  padding-left: 7em;
  font-family: 'Varela Round', sans-serif;
}
}
@media only screen and (max-width: 412px) {
  #flex{
    display: flex;
    flex-wrap: wrap;
  }
  #quotes{
    margin-top: -30%;
    max-height: 5%;
    position: relative;
    margin-bottom: -1%;
    /*columns: 3;*/
    flex-wrap: wrap;
    color: #4A4A4A;
    font-size: 20px;
    font-size: 1.5vw;
    padding-left: 7em;
    font-family: 'Varela Round', sans-serif;
  }
}
p{
  font-family: 'Varela Round', sans-serif;
}
i{
  display: flex;
  flex-wrap: wrap;
  font-size: 60px;
  margin-left: 5em;
  font-size: 20px;
}
footer{
  background: #9b9b9b;
  color: white;
  font-size: .75em;
  position: fixed;
  height: 3em;
  width: 100%;
  bottom: 0px;
  left:0px;
  text-align: center;
  line-height: 3em;
  margin-top: 3.5%;
}
