* {
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
body{
  margin: 0px;
  padding: 0px;
  max-width: 1800px;
}
#main-image{
  background-image: url(/images/add_username_bg.png);
  width:100%;
  height: 755px;
  max-height: 755px;
  max-width: 1800px;
  background-size: contain;
}
#banner{
  width: 100%;
  height: 15%;
  max-width: 1800px;
}
#logo{
  margin: 20px auto 20px 70px;
}
.bothlandf{
  display: flex;
}
#whitebox{
  background-color: white;
  width: 55em;
  height: 35em;
  float: right;
  margin-left: 18em;
  margin-top: 6em;
  border-radius: 8px;
  border-color: purple;
}
#yellow{
  background-color: #4CD964;
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: 4em;
}
#gameon{
  color: #FFFFFF;
  font-family: 'Varela Round', sans-serif;
  margin-left: 15em;
  padding-top: 1em;
  font-size: 20px;
}
#username{
  background-color: #E8E8E8;
  color: #9B9B9B;
  padding-right: 30em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 5px;
  font-size: 15px;
  padding-left: 1.5em;
}
#moveme{
  margin-left: 8em;
}
p{
  font-family: 'Varela Round', sans-serif;
}
.largeprint{
  font-size: 20px;
  font-weight: bold;
  color: #4A4A4A;
  letter-spacing: -0.09px;

}
p.largeprint{
    line-height: 20%;
    margin-top: 2em;

}
#smallprint{
  color: #9B9B9B;
  letter-spacing: -0.9px;
  margin-left:5.5em;
  padding: 0;
  margin-top: -1em;
  font-size: 12px;
}
#form{
  display: flex;
  align: center;
}
#columning{
  margin-top: 1em;
  columns: 3;
}
#gettingstarted{
  background-color: #4CD964;
  color: #FFFFFF;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  padding: 1em 6em 1em 6em;
  border-radius: 8px;
  margin-left: 8em;
  opacity: 1;
}
#gettingstarted:hover{
    opacity:0.8;
  }
#one{
  border-radius: 50%;
  padding: 5px;
  background: #fff;
  border: 3px solid #4CD964;
  color: #4CD964;
  text-align: center;
  font: 20px 'Varela Round', sans-serif;
  line-height: 13px;
  letter-spacing: 6px;
}
#two{
  border-radius: 50%;
  padding: 5px;
  background: #fff;
  border: 3px solid #4CD964;
  color: #4CD964;
  text-align: center;
  font: 20px 'Varela Round', sans-serif;
  line-height: 13px;
  letter-spacing: 6px;
}
.btn{
  display: flex;
  justify-content:center;
  align-content:center;
  flex-direction:row;
  border: solid 2px;
  border-radius: 8px;
  width: 200px;
  padding: 10px 10px 7px 10px;
  font-family: GothamRounded-Medium;
  font-size: 18px;
  cursor: pointer
}
form img{
  max-height: 20px;
  max-width: 30px;
  margin-right: 10px
}
.white{
  display: none;
}
input[name=sport]{
  display:none
}

/* BOCCE BUTTON */
#btnBoc{
  background: #FFFFFF;
  color: #34AADC
}
#bocRadio:checked + label > .color {
  display:none;
}
#bocRadio:checked + label > .white {
  display:inline;
}
#bocRadio:checked + label {
  background-color: #34AADC;
  color: #FFFFFF;
}

/* PING BUTTON */
#pingBoc{
  background: #FFFFFF;
  color: #FF2D55
}
#pingRadio:checked + label > .color {
  display:none;
}
#pingRadio:checked + label > .white {
  display:inline;
}
#pingRadio:checked + label {
  background-color: #FF2D55;
  color: #FFFFFF;
}

/* FOOS BUTTON */
#foosBoc{
  background: #FFFFFF;
  color: #4CD964
}
#foosRadio:checked + label > .color {
  display:none;
}
#foosRadio:checked + label > .white {
  display:inline;
}
#foosRadio:checked + label {
  background-color: #4CD964;
  color: #FFFFFF;
}

/* AIR HOCKEY BUTTON */
#airBoc{
  background: #FFFFFF;
  color: #C86EDF
}
#airRadio:checked + label > .color {
  display:none;
}
#airRadio:checked + label > .white {
  display:inline;
}
#airRadio:checked + label {
  background-color: #C86EDF;
  color: #FFFFFF;
}

/* CORN HOLE BUTTON */
#cornBoc{
  background: #FFFFFF;
  color: #FFCC00
}
#cornRadio:checked + label > .color {
  display:none;
}
#cornRadio:checked + label > .white {
  display:inline;
}
#cornRadio:checked + label {
  background-color: #FFCC00;
  color: #FFFFFF;
}

/* POOL BUTTON */
#poolBoc{
  background: #FFFFFF;
  color: #FF9500
}
#poolRadio:checked + label > .color {
  display:none;
}
#poolRadio:checked + label > .white {
  display:inline;
}
#poolRadio:checked + label {
  background-color: #FF9500;
  color: #FFFFFF;
}

/* SPIKEBALL BUTTON */
#spikeBoc{
  background: #FFFFFF;
  color: #4A4A4A
}
#spikeRadio:checked + label > .color {
  display:none;
}
#spikeRadio:checked + label > .white {
  display:inline;
}
#spikeRadio:checked + label {
  background-color: #4A4A4A;
  color: #FFFFFF;
}

/* KANJAM BUTTON */
#kanBoc{
  background: #FFFFFF;
  color: #EF4DB6
}
#kanRadio:checked + label > .color {
  display:none;
}
#kanRadio:checked + label > .white {
  display:inline;
}
#kanRadio:checked + label {
  background-color: #EF4DB6;
  color: #FFFFFF;
}

/* CARDS BUTTON */
#cardsBoc{
  background: #FFFFFF;
  color: #4CD3B4
}
#cardsRadio:checked + label > .color {
  display:none;
}
#cardsRadio:checked + label > .white {
  display:inline;
}
#cardsRadio:checked + label {
  background-color: #4CD3B4;
  color: #FFFFFF;
}
footer{
  background: #9b9b9b;
  color: white;
  font-size: .75em;
  position: fixed;
  height: 3em;
  width: 100%;
  bottom: 0px;
  left:0px;
  text-align: center;
  line-height: 3em;
  margin-top: 10%;
}
